* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: 100vh;
  margin: 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}

header > h1,
header > h2 {
  color: var(--headline-color-on-color);
}

p {
  padding: 1em;
}

button, input, select, textarea {
    background-color: transparent;
    border: 1.5px solid gray;
    border-radius: 5px;
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
    padding: 0.35em;
}

input[type="text"] {
    margin: 5px;
}

input[type="submit"] {
    cursor: pointer;
}

label {
    cursor: text;
}

fieldset {
    border: none;
}
