* {
  box-sizing: border-box;
  font-family: system-ui;
}

html {
  -webkit-text-size-adjust: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: 100vh;
  margin: 0;
}

main {
  padding: 8vw;
}

img {
  max-width: 100%;
}

button, input, select, textarea {
  background-color: transparent;
  border: 1.5px solid gray;
  border-radius: 5px;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding: 0.3em;
}

fieldset {
  border: none;
}

:is(input[type="text"], input[type="url"]):not(:last-of-type) {
  margin-bottom: 10px;
}

button, input[type="submit"] {
  cursor: pointer;
}

label {
  cursor: text;
}

legend {
  font-weight: 500;
  padding: 0;
}

.link {
  display: flex;
}
