:root {
  --accent1-color: #fff;
  --accent2-color: #000;
  --heading-font: "InterDisplay", sans-serif;
  --headline-color-on-color: white; /* headlines on a colored background */
  --headline-color-on-white: #03989e; /* headlines on a white background */
  --nav-background-color: #03989e;
  --nav-hover-background-color: #000;
  --nav-hover-link-color: #fff;
  --nav-link-color: #fff;
  --paragraph-background-color: black;
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-color-on-white: black; /* paragraph text on a white background */
  --paragraph-font: "Inter", sans-serif;
  --primary-color: #03989e;
  --secondary-color: #143c3c;
}

html {
  background-color: var(--primary-color);
}

body {
  max-width: 940px;
  padding: 1em;
  margin: 0 auto;
  background-color: white;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}

header > h1,
header > h2 {
  color: var(--headline-color-on-color);
}

p {
  padding: 1em;
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td {
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}

p.colored {
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}

nav {
  font-size: 1.2em;
  line-height: 3em;

  text-align: center;

  background-color: var(--nav-background-color);
}

nav > ul {
  display: flex;

  list-style-type: none;
}

nav a {
  min-width: 70px;
  padding: 1em;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sitemap {
  display: grid;
  grid-template-areas:
    ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  justify-content: center;
}

.sitemap > div {
  text-align: center;
}

.sm-home {
  line-height: 3em;
  background-color: #999;
  grid-area: home;
}

.sm-page2 {
  line-height: 3em;
  background-color: #999;
  grid-area: page2;
}

.sm-page3 {
  line-height: 3em;
  background-color: #999;
  grid-area: page3;
}

.top {
  border-left: 1px solid;
  grid-area: top;
}

.left {
  border-top: 1px solid;
  border-left: 1px solid;
  grid-area: left;
}

.right {
  border-top: 1px solid;
  border-right: 1px solid;
  grid-area: right;
}
