{% extends 'base.html' %}

{% block title %}choice-url{% endblock %}

{% block main %}
<form action="your_url" method="post" class="item-1">
  <input type="url" name="url" value="" placeholder="Long URL" required>
  <input type="text" name="code" value="" placeholder="Alias" required>
  <input type="submit" value="shorten">
</form>

  {% if codes %}
    <h2>Codes you have created:</h2>
    <ul class="session-links">
      {% for code in codes %}
      <a href="{{ url_for('choiceurl.redirect_to_url', code=code) }}">
        <li>{{ code }}</li>
      </a>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
