{% extends 'base.html' %}

{% block title %}choice-url{% endblock %}

{% block main %}

        <!-- Page content-->
        <div class="banner-image">
            <img src="{{ url_for('static', filename='B.png') }}" alt="banner-img">
        </div>
        <div class="container">
           <form action="your_url" method="post" class="item-1">
            <fieldset>
            <legend><strong>Website</strong></legend>
              <label for="code">Short Name:</label>
              <input type="text" name="code" value="" required>
              <br>
              <label for="url">Website url:</label>
              <input type="url" name="url" value="" required>
              <br>
              <input type="submit" value="shorten" class="button">
             </fieldset>
            </form>

            <form action="your_url" method="post" enctype="multipart/form-data" class="item-2">
             <fieldset>
             <legend><strong>File</strong></legend>
              <label for="code">Short Name:</label>
              <input type="text" name="code" value="" required>
              <br>
              <label for="file" style="margin-left: 120px;">File URL:</label>
              <input type="file" name="file" value="" required>
              <br>
              <input type="submit" value="shorten" class="button">
             </fieldset>
            </form>
        </div>

  {% if codes %}
  <h2>Codes you have created:</h2>
  <ul class="session-links">
    {% for code in codes %}
    <a href="{{ url_for('choiceurl.redirect_to_url', code=code) }}">
      <li>{{ code }}</li>
    </a>
    {% endfor %}
  </ul>
  {% endif %}
  
{% endblock %}
