{% extends 'base.html' %}

{% block title %}URL for {% if code %}"{{ code }}"{% endif %}{% endblock %}

{% block main %}

<main>
  <h1>URL successfully created!</h1>
  <p class="link">
    <input type="text" value="{{ url_for('choiceurl.redirect_to_url', code=code, _external=True) }}" readonly>
    <button id="copyButton" aria-label="Copy generated link">🔗</button>
  </p>
</main>

<script>
  document.getElementById("copyButton").addEventListener("click", () => {
    let copyText = document.getElementById("new_url");
    copyText.select();
    document.execCommand("copy");
  });
</script>

{% endblock %}